<h2>Welcome to our bookstore! See offered books below</h2>

<div class="book-card">
  {{!-- href --}}
  <div class="book-card-header">
    {{title}}
  </div>
  <div class="book-cover">
    {{bookCover}}
  </div>
</div>

