<h2>Welcome to our bookstore! See offered books below</h2>

{{#each books as |book|}}
<section class="card">
  <a href="/book/{{id}}">
    <header>{{title}}</header>
    <img src={{bookCover}} >
  </a>
</section>
{{/each}}







