<h2>Welcome to our bookstore! See offered books below</h2>

{{#each books as |book|}}
<section class="book-card justify-space-around p-1">
  <a href="/book/{{id}}">
    <header class="book-header">{{title}}</header>
    <img src={{bookCover}} id="book-img2" alt="book_cover_image">
  </a>
</section>
{{/each}}







