*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
header {
  background-color: blueviolet;
  border-bottom: solid 2px;
  width: 100%;
  height: 15%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.book-card {
  width: 250px;
  box-shadow: 0 4px 8px 0 gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.book-card-header {
  font-size: larger;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EEEEEE;
}

ul#navbar li {
  float:right;
}

ul#navbar li a {
  display: block;
  color: #000000;
  font-weight:bold;
  padding: 8px 16px;
  text-decoration: none;
}


ul#navbar li a:hover {
  background-color: purple;
  color: white;
}
