*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: bold; */
  background-color: rgb(224, 215, 228);
}
header {
  background-color: rgb(114, 36, 148);
  border-bottom: solid 2px;
  width: 100%;
  height: 15%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 10px;
}

.book-card {
  width: 250px;
  box-shadow: 0 4px 8px 0 gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 10px;
  height: 350px;
  background-color: rgb(186, 163, 207);
}

.book-card-header {
  font-size: larger;
}


#book-img {
  width: 150px;
}

#book-img2 {
  width: 200px;
  height: 225px;
}

menu {
  margin: 20px;
  border-radius: 4px;
  position: relative;
  min-width: 300px;
  min-height: 375px;
}


#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EEEEEE;
}

ul#navbar li {
  float:right;
}

ul#navbar li a {
  display: block;
  color: #000000;
  font-weight:bold;
  padding: 8px 16px;
  text-decoration: none;
}


ul#navbar li a:hover {
  background-color: rgb(114, 36, 148);
  color: white;
}

.single-book-card {
  width: 90%;
  border: 3px solid black;
  box-shadow: 1px 4px 8px 1px gray;
  font-size: medium;
  background-color: rgb(186, 163, 207);
}

.comment-card {
  width: 90%;
  font-size: smaller;
  box-shadow: 0 4px 8px 0 gray;
  border-radius: 5px;
  border: 1px solid rgb(46, 45, 45);
  padding: 1%;
  background-color: rgb(186, 163, 207);
}

.comment-card text {
  background-color: rgb(186, 163, 207);
}

.card-comment {
  width: 300px;
  height: 300px;
  padding: 1%;
}

#cart-img {
  width: 75px;
}
.btn1 {
  background-color:rgb(114, 36, 148);
  color:honeydew;
}

.container-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}